.banner{
        width: 100%;
        padding: 10px;
        background: linear-gradient(270deg, #922529, #004600, #ffffff, #000000);
        background-size: 800% 800%;
        animation: gradientShift 10s ease infinite;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        list-style-type: none;
        position: sticky;
        top: 0;
        z-index: 1000;
}
    /* Gradient animation for banner  */
@keyframes gradientShift {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
.container{
    position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 100px 50px;
            padding: 100px 50px;
     
}
.container .custom-card {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            width: 350px;
            max-width: 100%;
            height: 300px;
            background: #FFF;
            border-radius: 20px;
            transition: 0.5s;
            box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
        }
        .container .custom-card:hover {
            height: 400px;
        }
        .container .custom-card .img-box {
            position: absolute;
            top: 20px;
            width: 300px;
            height: 220px;
            background: #333;
            border-radius: 12px;
            overflow: hidden;
            transition: 0.5s;
        }
        .container .custom-card:hover .img-box {
            top: -100px;
            scale: 0.75;
            box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
        }
        .container .custom-card .img-box img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .container .custom-card .custom-content {
            position: absolute;
            top: 252px;
            width: 100%;
            height: 26px;
            padding: 0 30px;
            text-align: center;
            overflow: hidden;
            transition: 0.5s;
        }
        .container .custom-card:hover .custom-content {
            top: 130px;
            height: 250px;
        }
        .container .custom-card .custom-content h2 {
            font-size: 1.5rem;
            font-weight: 700;
            color: #333333;
        }
        .container .custom-card .custom-content p {
            color: #333;
        }
        .container .custom-card .custom-content a {
            position: relative;
            top: 15px;
            display: inline-block;
            padding: 12px 25px;
            text-decoration: none;
            background: #181818;
            color: #fff;
            font-weight: 500;
        }
        .container .custom-card .custom-content a:hover {
            opacity: 0.8;
        }

