html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
.banner{
        width: 105%;
        padding: 10px;
        background: linear-gradient(270deg, #922529, #004600, #ffffff, #000000);
        background-size: 800% 800%;
        animation: gradientShift 10s ease infinite;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        list-style-type: none;
        position: sticky;
        top: 0;
        z-index: 1000;
}
    /* Gradient animation for banner  */
@keyframes gradientShift {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
       .header{
        padding: 30px;
        display:flex;
        justify-content: space-between;
        align-items: center;
    }
      .container{
        font-family: Garamond, serif;
        font-size: 16.5px;
        text-align: center;
        background-color: rgb(29, 27, 27);
        color: rgb(255, 255, 255);
        width: 100%;
        padding-bottom: .5em;
        padding-top:.5em;
        margin: auto;
        letter-spacing: normal;
        background-image: url(./images/African-Pattern.jpg);
        opacity: 100%;
    
    }
     h1 {
        font-family: 'Tilt Prism', cursive;
        font-style: normal;
        text-align: center;
        font-size: 50px; /* Adjust size to a more reasonable number */
        color: black;
        padding: 5px;
        margin: auto;
        
    }
        #navbar {
        width: 100%;
        padding: 20px; /* Reduced padding */
        background: rgb(2, 2, 2);
        display: flex;
        justify-content: space-evenly;
        list-style-type: none;
        position: sticky;
    }
    #navbar ul {
        display: flex;
        align-items: center;
        padding: 0;
        margin: 0;
    }
    #navbar a {
        position: relative;
        color: #ffffff;
        text-decoration: none;
        font-size: 16px; /* Slightly smaller font size */
        font-weight: 500;
        margin-left: 20px; /* Reduced margin */
        padding: 10px 15px;
        font-family: "SUSE", sans-serif;
        justify-content: space-around;
    }
    
    #navbar li {
        list-style: none;
        margin: 0 15px;
    }
    
    #navbar li a::before {
        content: '';
        position: absolute;
        display: block;
        bottom: 0; /* Position the line at the bottom of the link */
        left: 0;
        width: 0%; /* Start with the line hidden */
        height: 2px;
        background: #ffff; /* White color for the hover underline */
        transition: width 0.4s ease-in-out; 
    }    
    
    #navbar a:hover::before {
        width: 100%; /* Expand the line on hover */
    }


/* styling of the book */
.book {
  position: absolute; 
  width: 100vw; 
   height: calc(100vh - 100px); 
  margin-top: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* overflow: hidden; */
  /* will-change: transform; */
  transform-style: preserve-3d;
}
img {

    max-width: 130%;
    max-height: 130%;
    object-fit: contain;
    /* display: block; */
    transform: scale(1.2);
    
}
.page,
.front-cover,
.back-cover {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;
}
.front-cover {
  position: relative;
}
.page{
  top: 0;
  left: 0;
   width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: left;
    transition: transform 2s ease;
}
.page.flipped {
     transform: rotateY(-180deg);
       z-index: 0;  /* push flipped pages behind */
}

/* Each page is layered to be on top of each other */
#front-cover{ z-index: 14;}
#Contents   { z-index: 13;}
#page1      { z-index: 12}
#page3      { z-index: 10;}
#page4      { z-index: 9;}
#page5      { z-index: 8;}
#page2      { z-index: 11;}
#page6     { z-index: 7; }
#page7     { z-index: 6; }
#page8     { z-index: 5; }
#page9     { z-index: 4; }
#page10    { z-index: 3; }
#page11    { z-index: 2; }
#page12    { z-index: 1; }


.back-cover  { z-index: 0; }

#refreshBtn {
  background-color: #04AA6D; /* Green */
  border: none;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 4px 4px;
  transition-duration: 0.4s;
  cursor: pointer;
}

#refreshBtn:hover {
  
  background: #e3e3e3;
  transform: scale(1.05);
}

.footer,.p{
  position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
}