html,body {
    margin: 0;
    padding: 0;

       /* overflow-x: hidden;   x position hidden on browser*/
    }
    
    .header{
        padding: 30px;
        display:flex;
        justify-content: space-between;
        align-items: center;
    }
    .banner{
        width: 105%;
        padding: 10px;
        background: linear-gradient(270deg, #922529, #004600, #ffffff, #000000);
        background-size: 800% 800%;
        animation: gradientShift 10s ease infinite;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        list-style-type: none;
        position: sticky;
        top: 0;
        z-index: 1000;
}
    /* Gradient animation keyframes */
@keyframes gradientShift {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
    h1 {
        font-family: 'Tilt Prism', cursive;
        font-style: normal;
        text-align: center;
        font-size: 50px; /* Adjust size to a more reasonable number */
        color: black;
        padding: 5px;
        margin: auto;
        
    }
    #navbar {
        width: 100%;
        padding: 16px; /* Reduced padding */
        background: rgb(2, 2, 2);
        display: flex;
        justify-content: space-evenly;
        list-style-type: none;
        position: sticky;
    }
    #navbar ul {
        display: flex;
        align-items: center;
        padding: 0;
        margin: 0;
    }
    #navbar a {
        position: relative;
        color: #ffffff;
        text-decoration: none;
        font-size: 16px; /* Slightly smaller font size */
        font-weight: 500;
        margin-left: 20px; /* Reduced margin */
        padding: 10px 15px;
        font-family: "SUSE", sans-serif;
        justify-content: space-around;
    }
    
    #navbar li {
        list-style: none;
        margin: 0 15px;
    }
    
    #navbar li a::before {
        content: '';
        position: absolute;
        display: block;
        bottom: 0; /* Position the line at the bottom of the link */
        left: 0;
        width: 0%; /* Start with the line hidden */
        height: 2px;
        background: #ffff; /* White color for the hover underline */
        transition: width 0.3s ease-in-out; 
    }    
    
    #navbar a:hover::before {
        width: 100%; /* Expand the line on hover */
    }
    
  .body {
      background: #eee;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color: #000;
      margin: 0;
      padding: 0;
    }
    .swiper {
      width: 100%;
      height: 90%;
      border-radius: 10px;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
    }
    .swiper-slide img {
      display: block;
      width: 1000%;
      height: 100%;
      object-fit: cover;
      overflow: hidden;
    }
    .swiper-button-next{
        position: absolute;
        top: 80%;
        right: 10px;
        z-index: 1;
        font-size: 30px;
        color: #fff;
        cursor: pointer;
    }
    .swiper-button-prev{
        position: absolute;
        top: 80%;
        left: 10px;
        z-index: 1;
        font-size: 30px;
        color: #fff;
        cursor: pointer;
    }
    .article{
        background-color: #fff;
        margin-left: 50px;

    }
     /*animated fade out*/
    h2{
      font-size: 5em;
      font-family:"SUSE",sans-serif;
      font-style:normal;
      font-optical-sizing: auto;
      text-align: center;
      color: transparent;
      -webkid-text-stroke-color: 10px rgba(7,6,6,1);
      position:relative;
    }
    h2:before{
      content:"A Journey Through Culture, Wildlife and Adventure";
      position: absolute;
      width: 0%;
      height: 100%;
      overflow: hidden;
      color: black;
      border-right: 5px solid rgba(183,18,18);
      transition: 1s ease-in-out;

    }
    h2:hover:before{
      width: 100%;
      filter: drop-shadow(0 1 30px black);
    }
    .grid-container{
        position: relative;
        height: 100vh;
        justify-content: space-around;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        grid-template-columns: 1fr 1fr 1fr; /* Two columns for a simple layout */
        padding: 19px;
        margin-left: 50px;
        gap: 10px;

       
    }
    .card-1, .card-2, .card-3, .card-4, .card-5, .card-6{
        top:0;
        width: 230px;
        height:210px;
        padding: 10px 16px;
        position: relative;
        box-sizing: content-box;
        border-radius: 20px;
        border: 1px solid rgb(84 90 106);
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(236, 230, 215, 0.84);
        transition: box-shadow 0.4s ease;
         
    }
    .card-1:hover,.card-2:hover, .card-3:hover, .card-4:hover, .card-5:hover, .card-6:hover {
        box-shadow: 10px 10px 20px rgba(36, 36, 36, 0.5);
    }
    .card-1 p, .card-2 p, .card-3 p, .card-4 p, .card-5 p, .card-6 p {
        font-size: 11px;
        margin: 0;
        /* padding: 0px; */
        line-height: 1.5;
        font-family: "Geist Mono", monospace;
        font-weight: 100;
    }
    /*styles for the card element and p tags*/
    h3{ 
        font-size: 20px;
        font-weight: 600;
        margin: 5px auto;
        padding: 20px;
        line-height: 1.2;
        font-family: "SUSE", sans-serif;
        margin-bottom: 30px 20px 10px;
        
    }
    h4{
      font-size: 5em;
      font-weight: 600;
      font-family: "SUSE", sans-serif;
      text-align: center;
      margin: 10px;
      padding: 10px;
      background: linear-gradient(to right, #ba0100, #006600 );
      background-clip: text;
      -webkit-background-clip: text;
       color: transparent;
    }


  
.box{
  border: black;
}


  /* Animation for text movement */
  @keyframes move-down {
    0% {
      top: 30%;
    }
    100% {
      top: 50%;
    }
  }
    /* Media query for smaller screens */
@media screen and (max-width: 768px) {
    #navbar {
        flex-direction: column;
        position: fixed;
        top: 0;
        left: -100%;
        width: 250px;
        height: 100%;
        background-color: #000;
        transition: left 0.3s ease;
    }
    /* #navbar.active{
      left: 0;
    }
    .hamburger{
      display: none;
      font-size: 28px;
      cursor: pointer;
      color: white;
      position: fixed;
      top: 20px;
      left: 20px;
      z-index: 1100;
    }
    .hamburger {
        display: block;
    } */

    #navbar ul {
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
    }

    #navbar li {
        margin-bottom: 20px;
    }

    #navbar a {
        font-size: 18px;
        padding: 10px;
    }
}

    .grid-container{
      grid-template-columns: 1fr;
      height: 50%
    }
   .h2{
    transition: none !important;
    font-size: 10px;
   }

 